*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  gap: 30px;
}

.App-header{
  background-color: antiquewhite;
  height: 50px;
  width: 100vw;
  text-align: center;
  box-shadow: 1px 1px 5px 0.5px gray;
}
.progress-bar{
  position: relative;
  height: 40px;
  width: 700px;
  background-color: bisque;
  border-radius: 100px;
  overflow: hidden;
}
.fill-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  text-align: center;
  border-radius: 100px;
}
.progress-text {
  position: absolute;  /* Position it over the progress bar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center both horizontally & vertically */
  font-weight: bold;
  color: brown; /* Ensure visibility */
}
.textStyle{
  font-size: larger;
  font-weight: 500;
  color: brown;
}